[submodule "pixi-bench"]
    path = pixi-bench
    url = https://github.com/Ch1pStar/pixi-bench.git
[submodule "onemore"]
	path = onemore
	url = https://github.com/Ch1pStar/onemore.git
[submodule "r"]
	path = r
	url = https://github.com/Ch1pStar/mag-ilian-challenge.git
[submodule "global-store"]
	path = global-store
	url = git@github.com:Ch1pStar/global-store.git
